<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All About Emem</title>
</head>
<body>
    <h1>All About Emem</h1> <!-- This is a header -->
    <h2>Well, maybe not <em>all...</em></h2> <!-- first section header, italicized "all" -->
        <p>Hi, my name is Emem. This is the last semester of my senior year.</p>
        <p>My hobbies include videography, giggling, dancing, and dilly-dallying.</p>
    <h2>Here are some of my favorite foods:</h2> <!-- section 2 -->

    <ul>
        <li>chipotle (im not ashamed)</li>
        <li>tandoori chicken with brussel sprouts and sweet potatoes (i <strong>love</strong> the dining hall)</li>
        <li>anything sweet and spicy</li>
    </ul>
    <h2>Here are my favorite colors:</h2> <!-- section 3 -->

    <ol>
        <li>green</li>
        <li>pink</li>
        <li>black</li>
    </ol>
    <h2>Courses I've Taken:</h2> <!-- section 4 -->

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT 302</td>
            <td>Fall '22</td>
        </tr>
        <tr>
            <td>INST 327</td>
            <td>Fall '23</td>
        </tr>
        <tr>
            <td>BMGT 407</td>
            <td>Spring '24</td>
        </tr>
    </table>

    <h2>Here are some links to some things:</h2> <!-- section 5-->
    <p>Here is my <a href="hello.html">Hello page.</a></p>
    <h2>Here are some of my favorite websites:</h2>
    <p><a href="https://www.nytimes.com/games/wordle/index.html">Wordle</a></p>
    <p><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></p>
    <h2>This is the Smith logo.</h2> <!-- section 6 -->

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Robert H. Smith logo">

</body>
</html>
